PORT=3001
NODE_ENV=development
DB_PATH=./data/hallowparty.db

# local: sqlite | produção: postgresql
DATABASE_PROVIDER="sqlite"
hallowparty_PRISMA_DATABASE_URL="file:../data/hallowparty.db"
hallowparty_DATABASE_URL="file:../data/hallowparty.db"
